<%- include('includes/head.ejs') %>

</head>

<body>
    <%- include('includes/navigation.ejs') %> 
    <main class="fluid-container">
        <!-- jumbotron : 특색있는 내용이나 특별히 관심을 불러 일으킬 수 있는 간단한 정보를 눈에 띄게 보여주는 박스 -->
        <div class="jumbotron text-center main-background" style="padding: 7rem;">
            <h1>Walk 2 Cafe</h1>
            <p>서울시립대 근처 카페를 찾아보자!</p>
        </div>
    </main>

    <nav class="navbar navbar-expand-sm main-header fluid-container justify-content-start">
        <!-- Brand -->
        <li class="navbar-brand main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Main</a></li>
        
        <!-- Links -->
        <ul class="navbar-nav main-header__item-list justify-content-end">
            <li class="nav-item main-header__item"><a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a></li>
            <li class="nav-item main-header__item"><a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Sign Up</a></li>
            <li class="nav-item main-header__item"><a class="<%= path === '/mypage' ? 'active' : '' %>" href="/mypage">My Page</a></li>
            <li class="nav-item main-header__item"><a class="<%= path === '/topic' ? 'active' : '' %>" href="/topic">Topic</a></li>
        </ul>
    </nav>

    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-8">
                <h2>카페 구경가기</h2>
                <h5>Title description, Dec 7, 2017</h5>
                <div class="fakeimg">Fake Image</div>
                <p>Some text..</p>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                <br>
                <h2>TITLE HEADING</h2>
                <h5>Title description, Sep 2, 2017</h5>
                <div class="fakeimg">Fake Image</div>
                <p>Some text..</p>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>
            <div class="col-sm-4">
                <h2>나는 무슨 커피일까? <span class="material-design-icons">local_cafe</span></h2>
                <h5>Photo of me:</h5>
                <div class="fakeimg">Fake Image</div>
                <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
                <h3>Some Links</h3>
                <p>Lorem ipsum dolor sit ame.</p>
                <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                </ul>
                <hr class="d-sm-none">
            </div>
        </div>
    </div>
      
<%- include('includes/end.ejs') %>